@charset "UTF-8";

* {
    margin: 50;
    padding: 30;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #1A3888;
}

header {
    display: flex;
    justify-content: space-between;
}


header h1 {
    text-align: center;
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

header h1 a {
    text-decoration: none;
    color: white;
}



nav ul {
    padding-top: 3px;;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    font-size: 10px;
    color: white;
}

h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

.image .container {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
}

.image .container img {
    width: 100px;
    height: auto;
    margin: 10px;
}

main {
    padding: 1rem;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1200px;
}


.section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.section-container img {
    object-fit: cover;
    aspect-ratio: 3 / 2;
}

p {
    text-align: right;
    font-size: 20px;
}

p a {
    color: white;
}

.introduce {
    color: white;
    text-align: center;
    font-size: 100%;
}

.aboutme {
    width: 40%;
    height: auto;
    margin: auto;
}

.aboutme img {
    border-radius: 50%;
    object-fit: cover;
}






/* PC用 */
@media all and (min-width: 1025px) {
    nav ul li a {
        font-size: 25px
    }

    h1 {
        font-size: 10rem;
    }

  .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}  

}